* {
  font-family: "Poppins", sans-serif;
  padding: 3px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.carousel-item {
  width: 75vw;
  height: 75vh;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-color: gray;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.container {
  background-color: white;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  text-align: start;
}

.imgprofile {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

footer {
  text-align: center;
  font-size: 13px;
  color: rgb(153, 153, 153);
}

.icons {
  width: 30px;
}

main {
  margin-top: 10px;
}

.perfil {
  display: inline-flex;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.icon-card-repo {
  display: flex;
  width: 30px;
  height: 30px;
}

.card-container {
  width: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card-container .card-content {
  position: relative;
  padding: 10px;
  width: 300px;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}

.card-container .card-content {
  padding: 20px;
  text-align: center;
}

.card-container .card-content:hover {
  color: whitesmoke;
  background-color: rgb(163, 163, 163);
  margin-top: 15px;
  box-shadow: 2px 20px 25px rgb(46, 46, 46);
}

.colegastrabalho {
  text-align: center;
}

.perfil-colega {
  display: inline-block;
}

.perfil-colega img {
  width: 100px;
  height: 100px;
}
